<!-- templates/index.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Image Processing App</title>
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% if plot %}
    <!-- {{ plot | safe }} -->
    <div id="graph1">
        {{ plot | safe }}
    </div>
    <h1>patent figure</h1>
    <div id="graph2">
        {{ plot2 | safe }}
    </div>
    <div id="graph3">
        {{ plot3 | safe }}
    </div>
    {%
    endif %}
</body>

</html>