<!DOCTYPE html>
<html>

<head>
    <title>Patent Analysis App</title>
    <style>
        /* グラフのコンテナを中央揃えにする */
        .graph-container {
            text-align: center;
            margin-bottom: 20px;
            /* グラフ間のスペースを追加 */
        }
    </style>
</head>

<body>
    {% if plot %}
    <div class="graph-container">
        <h1 style="text-align: center;">patent figure</h1>
        <div id="graph1" style="display: inline-block;">
            {{ plot | safe }}
        </div>
    </div>
    <div class="graph-container">
        <div id="graph2" style="display: inline-block;">
            {{ plot2 | safe }}
        </div>
    </div>
    <div class="graph-container">
        <div id="graph3" style="display: inline-block;">
            {{ plot3 | safe }}
        </div>
    </div>
    {%
    endif %}
</body>

</html>