<!DOCTYPE html>
<html>

<head>
    <title>Patent Analysis App</title>
    <style>
        /* ボタンを中央で配置し、上部から20px下に移動 */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 20vh; */
            margin: 0;
        }

        form {
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>

</html>